# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.env.*

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Testing
tests/__pycache__
.pytest_cache
.coverage
htmlcov/

# Misc
README.md
*.md
